/* navbar.css */
.navbar {
    background-color: white;
    height: 80px;
  }
  
  .navbar-nav .nav-link {
    margin: 0 10px;
    color: black;
    font-size: 13px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Optional: Add hover effect */
  }

  