{% extends "master.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/ten-navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow" style=" background-color: white;">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Left Section: Navigation Links -->
    <ul class="navbar-nav d-flex flex-row me-4">
      <li class="nav-item"><a class="nav-link" href="#">BUY</a></li>
      <li class="nav-item"><a class="nav-link" href="#">RENT</a></li>
      <li class="nav-item"><a class="nav-link" href="#">LEASE</a></li>
      <li class="nav-item"><a class="nav-link" href="#">HOME TOURS</a></li>
      <li class="nav-item"><a class="nav-link" href="#">FIND AGENT</a></li>
    </ul>

    <!-- Center Section: Logo and Company Name -->
    <a class="navbar-brand mx-auto me-4" href="#">
      <img src="{% static 'images/favicon.png' %}" alt="Logo" style="width: 50px; height: 50px;">
      
    </a>

    <!-- Right Section: Navigation Links -->
    <ul class="navbar-nav ms-auto ms-4">
      <li class="nav-item"><a class="nav-link" href="#">MANAGE RENTALS</a></li>
      <li class="nav-item"><a class="nav-link" href="#">ADVERTISE</a></li>
      <li class="nav-item"><a class="nav-link" href="#">HELP</a></li>
      <li class="nav-item"><a href="{% url 'logout_view' %}" class="btn btn-danger">Logout</a></li>
          
    </ul>

  </div>
</nav>

{% endblock %}
