{% extends "master.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/ten-hero.css' %}">
<section class="container-fluid py-2">
<!-- Hero Section -->
<div class="hero-section">
    <div class="hero-text">
        <span>Agents. Tours.</span><br>
        <span>Loans. Homes</span>
    </div>

    <!-- Input Container (Search) -->
    <!-- Input Container (Search) -->
<div class="input-container">
    <div class="input-wrapper">
        <input type="text" placeholder="Enter Address, City, Neighborhood, or Zip">
        <button>
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>

</div>

<div class="second-section">
    <div class="left-side">
        <h4>Get home recommendation</h4>
        <p>Signin for a more personalized experience</p>
        <a href="#" class="btn btn-primary">Sign In</a>
    </div>

    <div class="right-side">
        <div class="image-container first">
            <img src="{% static 'images/property1.jpg' %}" alt="Property 1">
            <h5>$69,500</h5>
            <p><span class="text-black-50">4 bd | 3ba | 3,102 sqft| House for sale</span></p>
        </div>
        <div class="image-container second">
            <img src="{% static 'images/property2.jpg' %}" alt="Property 2">
            <h5>$69,500</h5>
            <p><span class="text-black-50">4 bd | 3ba | 3,102 sqft| House for sale</span></p>
        </div>
        <div class="image-container third">
            <img src="{% static 'images/property4.jpg' %}" alt="Property 3">
            <h5>$69,500</h5>
            <p><span class="text-black-50">4 bd | 3ba | 3,102 sqft| House for sale</span></p>
        </div>
    </div>
</div>

</section>
{% endblock %}
